Repository falconry/falcon, pull requests merged in 2024-09, with the labels that each got.

#2304 feat(typing): type response
  falcon/app.py
  falcon/asgi/app.py
  falcon/asgi/response.py
  falcon/constants.py
  falcon/media/urlencoded.py
  falcon/middleware.py
  falcon/request.py
  falcon/responders.py
  falcon/response.py
  falcon/response_helpers.py
  falcon/routing/static.py
  falcon/typing.py
  pyproject.toml
  tests/test_cors_middleware.py
  tests/test_headers.py
Labels: falcon-4.0::alpha

#2326 feat(CORS): improve cors middleware
  docs/_newsfragments/2325.newandimproved.rst
  falcon/app.py
  falcon/middleware.py
  falcon/routing/static.py
  tests/test_cors_middleware.py
  tests/test_static.py
Labels: falcon-4.0::nice-to-have

#2282 chore: remove deprecated methods, attributes and classes
  docs/_newsfragments/1853.breakingchange.rst
  docs/_newsfragments/2090.breakingchange.rst
  docs/_newsfragments/2253.misc.rst
  docs/api/routing.rst
  docs/api/util.rst
  falcon/__init__.py
  falcon/app.py
  falcon/asgi/app.py
  falcon/asgi/request.py
  falcon/cmd/inspect_app.py
  falcon/errors.py
  falcon/http_error.py
  falcon/http_status.py
  falcon/media/handlers.py
  falcon/request.py
  falcon/response.py
  falcon/routing/__init__.py
  falcon/routing/util.py
  falcon/util/__init__.py
  falcon/util/misc.py
  falcon/util/sync.py
  falcon/util/time.py
  tests/_wsgi_test_app.py
  tests/asgi/test_asgi_servers.py
  tests/asgi/test_response_media_asgi.py
  tests/test_alias.py
  tests/test_cmd_inspect_app.py
  tests/test_error.py
  tests/test_headers.py
  tests/test_httperror.py
  tests/test_httpstatus.py
  tests/test_media_handlers.py
  tests/test_options.py
  tests/test_query_params.py
  tests/test_response.py
  tests/test_response_body.py
  tests/test_uri_templates_legacy.py
  tests/test_utils.py
  tests/test_wsgi_servers.py
Labels: falcon-4.0::alpha

#2341 chore(helpers): privatize helper methods intended only for internal use
  docs/_newsfragments/1457.breakingchange.rst
  docs/_newsfragments/1853.breakingchange.rst
  falcon/asgi/_request_helpers.py
  falcon/asgi/request.py
  falcon/request.py
  falcon/request_helpers.py
  falcon/response.py
  falcon/response_helpers.py
  tests/test_deprecations.py
  tests/test_request_body.py
Labels: falcon-4.0::beta

#2330 feat (status_codes): update HTTP status constants wrt RFC 9110
  README.rst
  docs/_newsfragments/2276.newandimproved.rst
  docs/api/errors.rst
  docs/api/status.rst
  examples/things_advanced.py
  examples/things_advanced_asgi.py
  falcon/__init__.py
  falcon/errors.py
  falcon/status_codes.py
  tests/test_error.py
  tests/test_httperror.py
  tests/test_status_codes.py
Labels: falcon-4.0::beta

#2339 chore: typing cleanup
  .coveragerc
  docs/api/util.rst
  docs/conf.py
  docs/ext/autodoc_customizations.py
  falcon/_typing.py
  falcon/app.py
  falcon/app_helpers.py
  falcon/asgi/app.py
  falcon/asgi/multipart.py
  falcon/asgi/request.py
  falcon/asgi/response.py
  falcon/asgi/stream.py
  falcon/asgi/structures.py
  falcon/asgi/ws.py
  falcon/errors.py
  falcon/forwarded.py
  falcon/hooks.py
  falcon/http_error.py
  falcon/http_status.py
  falcon/inspect.py
  falcon/media/base.py
  falcon/media/handlers.py
  falcon/media/multipart.py
  falcon/request.py
  falcon/responders.py
  falcon/response.py
  falcon/response_helpers.py
  falcon/routing/compiled.py
  falcon/routing/static.py
  falcon/routing/util.py
  falcon/stream.py
  falcon/testing/client.py
  falcon/testing/helpers.py
  falcon/testing/resource.py
  falcon/testing/srmock.py
  falcon/testing/test_case.py
  falcon/typing.py
  falcon/util/misc.py
  falcon/util/structures.py
  tests/test_after_hooks.py
  tests/test_boundedstream.py
  tests/test_media_multipart.py
Labels: falcon-4.0::beta

#2344 chore: remove `is_async` support
  docs/_newsfragments/2343.breakingchange.rst
  falcon/hooks.py
  falcon/media/validators/jsonschema.py
  tests/asgi/_cythonized.pyx
  tests/asgi/test_cythonized_asgi.py
  tests/test_after_hooks.py
  tests/test_before_hooks.py
Labels: falcon-4.0::alpha

#2342 docs: prepare Falcon `4.0.0a1`
  docs/changes/4.0.0.rst
  docs/user/intro.rst
  e2e-tests/conftest.py
  e2e-tests/test_e2e.py
  falcon/__init__.py
  falcon/_typing.py
  falcon/asgi/_asgi_helpers.py
  falcon/asgi/multipart.py
  falcon/asgi/reader.py
  falcon/asgi/response.py
  falcon/cyutil/misc.pyx
  falcon/cyutil/reader.pyx
  falcon/cyutil/uri.pyx
  falcon/media/multipart.py
  falcon/typing.py
  falcon/util/reader.py
  falcon/version.py
Labels: falcon-4.0::alpha
