Repository falconry/falcon, pull requests merged in 2024-10, with the labels that each got.

#2190 feat(errors): default error serializer content negotiation
  docs/_newsfragments/2023.newandimproved.rst
  docs/_newsfragments/2349.newandimproved.rst
  falcon/app_helpers.py
  falcon/http_error.py
  falcon/request.py
  falcon/testing/client.py
  tests/test_httperror.py
  tests/test_media_handlers.py
  tests/test_testing.py
Labels: falcon-4.0::nice-to-have

#2353 chore: clean up `tox` environments & CI gates
  .github/workflows/test-other.yaml
  .github/workflows/test-wheels.yaml
  .github/workflows/tests.yaml
  .github/workflows/tox-sdist.yaml
  README.rst
  tools/testing/install_hug.sh
  tools/testing/test_hug.sh
  tox.ini
Labels: falcon-4.0::nice-to-have

#2356 feat(resp): add option to disable XML serialization of errors
  docs/_newsfragments/2355.newandimproved.rst
  falcon/app_helpers.py
  falcon/http_error.py
  falcon/response.py
  tests/test_error_handlers.py
  tests/test_httperror.py
Labels: falcon-4.0::beta

#2378 docs(changes): prepare 4.0.0 stable
  docs/changes/4.0.0.rst
  docs/user/install.rst
  falcon/version.py
Labels: falcon-4.0::final
